<div class="card ui-filter-card ui-list-page-filters @CardCssClass">
    <div class="card-body ui-list-page-filters-body">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? CardCssClass { get; set; }
}
